<div class="modal fade" id="{{ modal_id }}" tabindex="-1" aria-labelledby="{{ modal_id }}-label" aria-hidden="true">
    <div class="modal-dialog {{ modal_size }}">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ modal_id }}-label">{% block modal_title %}add custom title in block modal_title{% endblock modal_title %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% block modal_body %}add custom title in block modal_body{% endblock modal_body %}
            </div>
            <div class="modal-footer">
                {% block modal_footer %}<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>{% endblock modal_footer %}
            </div>
        </div>
    </div>
</div>
