{% extends "config/modal/modal.html" %}

{% block modal_title %}Add Option{% endblock modal_title %}

{% block modal_body %}

    {% verbatim %}
    <div class="row">
        <div class="col">
            <input type="text" class="form-control form-control-lg mb-5" v-model.lazy="addChoice.name">
        </div>
    </div>
    {% endverbatim %}

{% endblock modal_body %}

{% block modal_footer %}
    <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-sm btn-outline-success" data-bs-dismiss="modal" @click="AddChoice()">Add Option</button>
{% endblock modal_footer %}
