{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Bootstrap CSS #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    {# FontAwesome #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

    <title>Projects</title>

</head>
<body>



<div id="app">

    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-taggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav">
                    <li class="navbar-item me-1">
                        <button type="button" class="btn btn-sm btn-outline-success" @click="startAddNewProject()" data-bs-toggle="modal" data-bs-target="#project-modal">
                            <i class="fas fa-plus-circle"></i> New Project
                        </button>
                    </li>
                    <li class="navbar-item me-1">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="projects.updateFilterOptions(false)" data-bs-toggle="modal" data-bs-target="#filters-modal">
                            <i class="fas fa-filter"></i> Filters
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        {% verbatim %}
        <table class="table user-select-none">
            <thead>
            <tr>
                <th>Project Name <i :class="projects.OrderingArrows('name')" @click="projects.SetOrderBy('name')"></i></th>
                <!--<th>Room <i :class="projects.OrderingArrows('room')" @click="projects.SetOrderBy('room')"></i></th>-->
                <th class="text-center">Supplies <i :class="projects.OrderingArrows('supplies')" @click="projects.SetOrderBy('supplies')"></i></th>
                <th class="text-center">Projected Cost <i :class="projects.OrderingArrows('cost')" @click="projects.SetOrderBy('cost')"></i></th>
                <th class="text-center">Status <i :class="projects.OrderingArrows('status')" @click="projects.SetOrderBy('status')"></i></th>
                <th class="text-center">Date <i :class="projects.OrderingArrows('project_date')" @click="projects.SetOrderBy('project_date')"></i></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="project in projects.DisplayList">
                <td>
                    <a href="#" @click="getProject(project, $event)" data-bs-toggle="modal" data-bs-target="#project-modal">{{ project.name }}</a>
                </td>
                <!--<td>{{ project.room.name }}</td>-->
                <td class="text-center">
                    <a href="#" @click="getProject(project, $event)" data-bs-toggle="modal" data-bs-target="#supplies-modal">{{ project.total_supply_count }}</a>
                </td>
                <td class="text-center">{{ numeral(project.total_extended_price, '$0.00') }}</td>
                <td class="text-center">{{ project.status.name }}</td>
                <td class="text-center">{{ moment(project.project_date, 'll') }}</td>
            </tr>
            </tbody>
        </table>
        {% endverbatim %}

        {% include "builds/home/project-modal.html" with modal_id='project-modal' modal_size='modal-lg' %}
        {% include "builds/home/supplies-modal.html" with modal_id='supplies-modal' modal_size='modal-lg' %}
        {% include "builds/home/supply-modal.html" with modal_id='supply-modal' modal_size='modal-lg' %}
        {% include "builds/home/filters-modal.html" with modal_id='filters-modal' modal_size='modal-lg' %}
        {% include "builds/home/choice-add-modal.html" with modal_id='choice-add-modal' %}

    </div> {# .container #}

</div> {# #app #}

{# Bootstrap JS #}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>

{# Add Ons #}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js" integrity="sha512-USPCA7jmJHlCNRSFwUFq3lAm9SaOjwG8TaB8riqx3i/dAJqhaYilVnaf2eVUH5zjq89BU6YguUuAno+jpRvUqA==" crossorigin="anonymous"></script>

{# Vue CDN #}
<script src="https://unpkg.com/vue@next"></script>

{# Base Vue #}
<script src="{% static "config/js/base-vue.js" %}"></script>
<script src="{% static "config/js/vue-paginate-filter.js" %}"></script>

{# My Vue JS #}
<script src="{% static "builds/js/projects.js" %}"></script>

</body>
</html>
