{% extends "config/modal/modal.html" %}

{% block modal_title %}
    {% verbatim %}
    <template v-if="project.uuid">{{ project.name }}</template>
    <template v-else><i class="fas fa-plus-circle"></i> New Project</template>
    {% endverbatim %}
{% endblock modal_title %}

{% block modal_body %}

    <div class="row mb-2">
        <div class="col">
            <div class="form-floating">
                <input type="text" class="form-control" id="projectName" placeholder="Project Name" v-model.lazy="project.name" @change="project.uuid&&updateProject(project)">
                <label for="projectName">Project Name</label>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <div class="form-floating">
                <select class="form-select" id="projectRoom" aria-label="Room" v-model="project.room" @change="project.uuid&&updateProject(project)">
                    <option v-for="room in choices.project_rooms" :value="room">
                        {% verbatim %}{{ room.name }}{% endverbatim %}
                    </option>
                </select>
                <label for="projectRoom">Room</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <select class="form-select" id="projectStatus" aria-label="Status" v-model="project.status" @change="project.uuid&&updateProject(project)">
                    <option v-for="choice in choices.project_statuses" :value="choice">
                        {% verbatim %}{{ choice.name }}{% endverbatim %}
                    </option>
                </select>
                <label for="projectStatus">Status</label>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <div class="form-floating">
                <input type="date" id="projectExpectedStartDate" class="form-control" v-model="project.expected_start_date" @change="project.uuid&&updateProject(project)">
                <label for="projectExpectedStartDate">Expected Start Date</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="date" id="projectActualStartDate" class="form-control" v-model="project.actual_start_date" @change="project.uuid&&updateProject(project)">
                <label for="projectActualStartDate">Actual Start Date</label>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="form-floating">
                <input type="date" id="projectExpectedCompleteDate" class="form-control" v-model="project.expected_complete_date" @change="project.uuid&&updateProject(project)">
                <label for="projectExpectedCompleteDate">Expected Complete Date</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input type="date" id="projectActualCompleteDate" class="form-control" v-model="project.actual_complete_date" @change="project.uuid&&updateProject(project)">
                <label for="projectActualCompleteDate">Actual Complete Date</label>
            </div>
        </div>
    </div>

{% endblock modal_body %}

{% block modal_footer %}
    {% verbatim %}
    <template v-if="project.uuid">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
    </template>
    <template v-else>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-outline-primary" @click="AddNewProject(project)" data-bs-dismiss="modal"><i class="fas fa-plus-circle"></i> New Project</button>
    </template>
    {% endverbatim %}
{% endblock modal_footer %}
