{% extends "config/modal/modal.html" %}

{% block modal_title %}
    {% verbatim %}
    <template v-if="supply.uuid">{{ supply.name }}</template>
    <template v-else>Add New Supplies</template>
    {% endverbatim %}
{% endblock modal_title %}

{% block modal_body %}

    <div class="row mb-2">
        <div class="col col-8">
            <div class="form-floating">
                <input type="text" class="form-control" id="supplyName" placeholder="Project Name" v-model.lazy="supply.name" @change="supply.uuid&&updateSupply(supply)">
                <label for="supplyName">Supply Name</label>
            </div>
        </div>
        <div class="col col-4">
            <div class="form-floating">
                <input type="text" class="form-control" id="supplyDescription" placeholder="Description" v-model.lazy="supply.description" @change="supply.uuid&&updateSupply(supply)">
                <label for="supplyDescription">Description</label>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col col-4">
            <div class="form-floating">
                <input type="number" step=".01" class="form-control" id="supplyQuantity" placeholder="Quantity" v-model.lazy="supply.quantity" @change="supply.uuid&&updateSupply(supply)">
                <label for="supplyQuantity">Quantity</label>
            </div>
        </div>
        <div class="col col-4">
            <div class="form-floating">
                <input type="number" step=".01" class="form-control" id="supplyUnitPrice" placeholder="Unit Price" v-model.lazy="supply.unit_price" @change="supply.uuid&&updateSupply(supply)">
                <label for="supplyUnitPrice">Unit Price</label>
            </div>
        </div>
        <div class="col col-4">
            <div class="form-floating">
                <input type="number" disabled readonly step=".01" class="form-control" id="supplyExtendedPrice" placeholder="Unit Price" :value="Math.round(100 * supply.unit_price * supply.quantity) / 100">
                <label for="supplyExtendedPrice">Extended Price</label>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col col-6">
            <label for="supplyCategory" class="text-muted">Category</label>
            <div class="input-group">
                <select class="form-select" id="supplyCategory" aria-label="Category" v-model="supply.category" @change="supply.uuid&&updateSupply(supply)">
                    <option v-for="choice in choices.supply_categories" :value="choice">
                        {% verbatim %}{{ choice.name }}{% endverbatim %}
                    </option>
                </select>
                <button class="btn btn-outline-secondary text-success" type="button" data-bs-toggle="modal" data-bs-target="#choice-add-modal" @click="StartAddChoice('supply_category')">&plus;</button>
            </div>
        </div>
        <div class="col col-6">
            <label for="supplyStore" class="text-muted">Store</label>
            <div class="input-group">
                <select class="form-select" id="supplyStore" aria-label="Store" v-model="supply.store" @change="supply.uuid&&updateSupply(supply)">
                    <option v-for="choice in choices.supply_stores" :value="choice">
                        {% verbatim %}{{ choice.name }}{% endverbatim %}
                    </option>
                </select>
                <button class="btn btn-outline-secondary text-success" type="button" data-bs-toggle="modal" data-bs-target="#choice-add-modal" @click="StartAddChoice('supply_store')">&plus;</button>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col col-6">
            <div class="form-floating">
                <input type="text" class="form-control" id="supplyLocation" placeholder="Location" v-model.lazy="supply.location" @change="supply.uuid&&updateSupply(supply)">
                <label for="supplyLocation">Location</label>
            </div>
        </div>
        <div class="col col-6">
            <div class="form-floating">
                <input type="url" class="form-control" id="supplyLink" placeholder="Link" v-model.lazy="supply.link" @change="supply.uuid&&updateSupply(supply)">
                <label for="supplyLink">Link</label>
            </div>
        </div>
    </div>

{% endblock modal_body %}

{% block modal_footer %}
    {% verbatim %}
        <a class="btn btn-outline-primary" v-if="supply.link.length>0" :href="supply.link" target="_blank">Go to Link</a>
        <template v-if="supply.uuid">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        </template>
        <template v-else>
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" @click="AddNewSupply(project, supply)">Add Supply</button>
        </template>
    {% endverbatim %}
{% endblock modal_footer %}
