{% extends "config/modal/modal.html" %}

{% block modal_title %}{% verbatim %}{{ project.name }}{% endverbatim %} Supplies{% endblock modal_title %}

{% block modal_body %}

    <div class="row" v-if="project.supplies.length === 0">
        <div class="col text-center mb-5">
            <button class="btn btn-lg btn-outline-success mb-5"data-bs-toggle="modal" data-bs-target="#supply-modal" @click="StartAddNewSupply()">
                Add Supplies
            </button>
        </div>
    </div>

    <div class="row" v-if="project.supplies.length > 0">
        <div class="col">
            <button class="btn btn-sm btn-outline-success" data-bs-toggle="modal" data-bs-target="#supply-modal" @click="StartAddNewSupply()">
                Add More Supplies
            </button>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th class="text-center">Price</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="supply in project.supplies">
                    {% verbatim %}
                    <td>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#supply-modal" @click="showSupply(supply, $event)">{{ supply.name }}</a><br>
                        <small class="text-muted">{{ choiceName(supply['store']) }}</small>
                        <!--<small class="text-muted">{{ supply.description }}</small>-->
                    </td>
                    <td>{{ supply.category.name }}</td>
                    <td class="text-center">{{ numeral(supply.quantity * supply.unit_price, '$0.00') }}<br><small class="text-muted">{{ supply.quantity }} @ {{ numeral(supply.unit_price, '$0.00') }}</small></td>
                    {% endverbatim %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock modal_body %}
