{% extends "config/modal/modal.html" %}

{% block modal_title %}Filters{% endblock modal_title %}

{% block modal_body %}

    {% verbatim %}
    <div class="row">
        <div class="col" v-for="filter in supplies.filters">
            <h6><strong>{{ filter.name }}</strong></h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" v-if="filter.VisibleOptionsLength>1">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" v-model="filter.allSelectedPre" :id="'filter-option-'+filter.key+'-all'">
                        <label class="form-check-label" :for="'filter-option-'+filter.key+'-all'">(All)</label>
                    </div>
                </li>
                <template v-for="option in filter.options" >
                    <li v-if="option.isVisible" class="list-group-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" v-model="option.isSelectedPre" :id="'filter-option-'+filter.key+'-'+option.key">
                            <label class="form-check-label" :for="'filter-option-'+filter.key+'-'+option.key">{{ option.name }}</label>
                        </div>
                    </li>
                </template>
            </ul>
        </div>
    </div>
    {% endverbatim %}

{% endblock modal_body %}

{% block modal_footer %}
    <button type="button" class="btn btn-sm btn-primary" v-if="supplies.IsFiltered&&!supplies.IsDirty" @click="supplies.ResetAllFilters()">Reset All Filters</button>
    <button type="button" class="btn btn-sm btn-outline-secondary" v-if="!supplies.IsDirty" data-bs-dismiss="modal">Close Filter Panel</button>
    <button type="button" class="btn btn-sm btn-outline-secondary" v-if="supplies.IsDirty" @click="supplies.CancelApplyFilters()">Cancel Changes</button>
    <button type="button" class="btn btn-sm btn-outline-success" v-if="supplies.IsDirty" @click="supplies.ApplyFilters()">Apply Filters</button>
{% endblock modal_footer %}
