{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Bootstrap CSS #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Supplies</title>

</head>
<body>



<div id="app">

    <nav class="navbar fixed-top navbar-light bg-light">
        <div class="container">
                <ul class="navbar-nav">
                    <li class="navbar-item me-1">
                        <button type="button" class="btn btn-sm btn-outline-primary" @click="supplies.updateFilterOptions(false)" data-bs-toggle="modal" data-bs-target="#filters-modal">
                            <i class="fas fa-filter"></i> Filters
                        </button>
                    </li>
                </ul>
        </div>
    </nav>

    <div class="container user-select-none">

        {% verbatim %}

        <div class="row mt-5 mb-5">
            <div class="col mt-4">
                <ul class="list-group">
                    <template v-for="supply in supplies.DisplayList" :key="supply.uuid">
                        <li :class="['list-group-item', {'jcm-strikethrough list-group-item-secondary':supply.is_marked_off}]" @click="supply_clicked(supply)">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><strong>{{ supply.name }}</strong></h5>
                                <small>{{ fromNow(supply.project.expected_start_date) }}</small>
                            </div>
                            <p class="mb-1">{{ storeName(supply) }} | {{ supply.location }} | Qty: {{ supply.quantity }}</p>
                            <small class="text-muted">{{ supply.project.name }}</small>
                        </li>
                    </template>
                </ul>
            </div>
        </div>

        {% endverbatim %}

    </div> {# .container #}

    {% include "builds/home/supply-modal.html" with modal_id='supply-modal' modal_size='modal-lg' %}
        {% include "builds/supplies/filters-modal.html" with modal_id='filters-modal' modal_size='modal-lg' %}

</div> {# #app #}

{# Bootstrap JS #}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>

{# Add Ons #}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js" integrity="sha512-USPCA7jmJHlCNRSFwUFq3lAm9SaOjwG8TaB8riqx3i/dAJqhaYilVnaf2eVUH5zjq89BU6YguUuAno+jpRvUqA==" crossorigin="anonymous"></script>

{# Vue CDN #}
<script src="https://unpkg.com/vue@next"></script>

{# Base Vue #}
<script src="{% static "config/js/base-vue.js" %}"></script>
<script src="{% static "config/js/vue-paginate-filter.js" %}"></script>

{# My Vue JS #}
<script src="{% static "builds/js/supplies.js" %}"></script>

</body>
</html>
